figure {
    margin: 1.5em 0px;
    padding: 10px 0;
    text-align: center;
}

figcaption {
    clear: left;
    margin: 0.75em 0px;
    text-align: center;
    font-style: italic;
    line-height: 1.5em;
    font-size: 80%;
    color: #666;
}

div[data-filepath="reflections.md"] .book-body .page-wrapper .page-inner section.normal figure {
    width: %50;
}

#page-book-details .details-readme section table thead,
.book .book-body .page-wrapper .page-inner section.normal table thead {
    display: none;
}

.book .book-body .page-wrapper .page-inner section.normal ol,
.book .book-body .page-wrapper .page-inner section.normal ul {
    margin-bottom: 10px;
}