figure {
    margin: 1.5em 0px;
    padding: 10px 0;
    text-align: center;
}

figcaption {
    clear: left;
    margin: 0.75em 0px;
    text-align: center;
    font-style: italic;
    line-height: 1.5em;
    font-size: 80%;
    color: #666;
}

#page-book-details .details-readme section table thead,
div[data-filepath="README.md"] .book-body .page-wrapper .page-inner section.normal table thead {
    display: none;
}

.book .book-body .page-wrapper .page-inner section.normal ol,
.book .book-body .page-wrapper .page-inner section.normal ul {
    margin-bottom: 10px;
}

div.nopb {
    page-break-inside: avoid;
}

div.note {
    background: #FCF8E3 none repeat scroll 0% 0%;
    color: #8A6D3B;
    padding: 15px;
    margin-bottom: 10px;
    border-bottom: 5px solid #DDD;
    border-color: #FAEBCC;
    page-break-inside: avoid;
}

.book .book-body .page-wrapper .page-inner section.normal div.note p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
    margin: 0px 80px;
    font-style: italic;
}

div[data-filepath="map.md"] .book-body .page-wrapper .page-inner section.normal > :last-child {
    text-align: center;
}

div[data-filepath="map.md"] .book-body .page-wrapper .page-inner section.normal > :last-child img {
    display: none;
}

div[data-filepath="credits.md"] .book-body .page-wrapper .page-inner section.normal ul  {
    margin-left: -30px;
}

div[data-filepath="credits.md"] .book-body .page-wrapper .page-inner section.normal ul li {
    list-style: outside none none;
}

div[data-filepath="credits.md"] .book-body .page-wrapper .page-inner section.normal ul li a {
    width: 100px;
    display: block;
    float: left;
    height: 30px;
}

div[data-filepath="credits.md"] .book-body .page-wrapper .page-inner section.normal ul li span {
    display: block;
}
