figure {
    margin: 1.5em 0px;
    padding: 10px 0;
    text-align: center;
}

figcaption {
    clear: left;
    margin: 0.75em 0px;
    text-align: center;
    font-style: italic;
    line-height: 1.5em;
    font-size: 80%;
    color: #666;
}
/*
.book .book-body .page-wrapper .page-inner section.normal figure img {
    border: 1px solid #AAA;
    border-right-color: #333;
    border-bottom-color: #333;
    border-width: 5px;
    border-style: double;
}
*/
#page-book-details .details-readme section table thead,
.book .book-body .page-wrapper .page-inner section.normal table thead {
    display: none;
}

div[data-filepath="reflections.md"] figure img {
    width: %50;
    height: %50;
}